<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br />
         <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-lable">Title:</label>
                <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>          
            </div>

            <div class="mb-3">
                <label for="description"  class="form-lable">Description:</label>
                <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-lable">Upload Listing Image:</label>
                <input name="listing[image]"type="file" class="form-control" required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-lable">Price:</label>
                    <input name="listing[price]" placeholder="&#8377;1200"class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>  
                </div>
            
                <div class="mb-3 col-md-8"> 
                    <label for="country" class="form-lable">Country:</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>  
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-lable">Location:</label>
                <input name="listing[location]" placeholder="Delhi, Mumbai" type="text" class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>  
            </div>
            <!-- <button type="submit" class="btn btn-dark add-btn mt-3">Post</button>
            <br /><br /> -->
            <button type="submit" class="btn btn-dark w-100 mt-4 mb-2">Post</button>
            <br /><br />
        </form>
    </div>    
</div>

